DB_HOST=localhost
DB_PORT=5432
DB_NAME=cofrapdb
DB_USER=cofrap
DB_PASSWORD=cofrap2024
JWT_SECRET=change-me-in-local-dev
OPENFAAS_GATEWAY=http://localhost:8080
$env:TOTP_ENCRYPTION_KEY="EtpyrflbCOoNb2hQGX40atgrZdxK5F_X0_erjRx_K7s="